@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Praca magisterska</h1>
    <p class="lead">Aplikacja na potrzeby pracy magisterskiej "System komunikacji klient-doradca z wykorzystaniem nowoczesnych technologii webowych" </p>
    <p><a href="#" class="btn btn-primary btn-lg">Więcej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Podstawowy czat - symulacja</h2>
        <p>
            Losowe dobieranie doradcy.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","SimpleChat")">Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Czat z wykorzystaniem Fifo</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","FifoChat")">Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Autorski czat</h2>
        <p>Projekt czatu zawiera algorytm rozpoznawania problemu rozmówcy i próby dopasowania odpowiedniego doradcy</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>